// Variavéis
$gelo: #ecf0f1
$verde: #2ecc71
$vermelho: #c0392b
$cinza-escuro: #1d1d1f
$cinza: #bdc3c7
$azul: #3498db
$azulesc: #2980b9
//
*
	margin: 0
	padding: 0
body
	//height: 100vh
	background: $gelo
	font-family: 'Roboto', sans-serif
	font-size: 16px
a
	text-decoration: none
	color: black
.wrapper
	padding: 20px
.container
	width: 100%
	max-width: 1200px
.container-fluid
	width: 100%
.wrapper-form
	padding: 10px 15px
	position: relative
._100vh
	min-height: 100vh
.bg
	background: radial-gradient(lighten($azulesc, 25%), $azulesc)
.clearfix:after
	content: ""
	display: table
	clear: both

